/* GLOBALS - Shared with Dashboard & Explore Twitter */
.section-explore,
.section-explore-twitter,
.section-user {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 7rem 3rem 4rem 3rem;
  width: min(100%, 1400px);
}

.section-explore .header,
.section-explore-twitter .header,
.section-user .header {
  font-size: 2rem;
  font-weight: 600;
}

.section-explore .header,
.section-explore-twitter .header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-end;
  gap: 3rem;
  width: 100%;
}

.section-explore-twitter .header {
  grid-template-columns: 1fr auto;
}

/* LIST (containing the collapse) */
.promises-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.promises-list-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.promises-list-wrapper .ant-pagination {
  justify-self: center;
}

.ant-collapse {
  border-radius: 6px;
  padding: 1rem;
  transition: all 0.3s ease;
}

.ant-collapse-header {
  cursor: pointer;
}

.ant-collapse-content {
  overflow: scroll;
}

.ant-collapse-item {
  background: var(--gradient-high-transparent);
  backdrop-filter: blur(10px);
}

.ant-collapse-item:not(.ant-collapse-item-active):not(.twitter-verify-collapse
    > div):hover {
  box-shadow: rgba(255, 255, 255, 0.1) 2px 1000px 1px inset;
}

.promise-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.promise-header-name {
  font-size: 1rem;
  font-weight: 500;
}

.promise-header-address {
  opacity: 0.8;
  z-index: 2;
}

.promise-header-address > span::after {
  content: '•';
  margin: 0 0.4rem;
}

/* PROMISE (in panel) - Shared in Dashboard drawer */
.card-item .title,
.drawer-item .title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.card-item.parties,
.drawer-item.parties {
  position: relative;
}

.card-item.parties .title,
.drawer-item.parties .title {
  margin-bottom: 1rem;
}

.twitter-verified-container {
  position: relative;
  width: 100%;
}

.twitter-verified-container .ant-table {
  background: rgba(0, 0, 0, 0.5) !important;
  padding: 0 1rem;
}

.twitter-verified-container .ant-table tr > td:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.search-filter-container {
  display: flex;
}

.search-filter-container .ant-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ant-table-title > b {
  display: flex;
  align-items: baseline;
  gap: 0.3rem;
}

.promise-status-lock {
  margin-left: 2rem;
}

.promise-status-lock > span {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.promise-status-lock.locked {
  color: var(--toastify-color-success);
}

.promise-status-lock.unlocked {
  color: var(--toastify-color-warning);
}

/* IPFS display */
.ipfs-viewer {
  position: relative;
}

.ipfs-viewer .security {
  position: absolute;
  top: 1rem;
  left: 50%;
}

.ipfs-display {
  position: relative;
}

.ipfs-display .action-directory {
  position: absolute;
  top: 1rem;
  left: 10rem;
  display: flex;
  gap: 2rem;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ipfs-display .action-directory::before {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: -1.5rem;
  width: 1px;
  height: 100%;
}

.ipfs-display .action-directory > div {
  font-size: 1rem;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.ipfs-display .action-directory > div:hover {
  opacity: 1;
  transform: scale(1.02);
}
