.section-explore,
.section-user {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 7rem 3rem 4rem 3rem;
}

.section-explore .header,
.section-user .header {
  font-size: 2rem;
  font-weight: 600;
}

/* ---------- CARD ---------- */

.promises-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.promises-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.promises-list-wrapper .ant-pagination {
  align-self: center;
}

.promise-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.promise-header-name {
  font-size: 1rem;
  font-weight: 500;
}

.promise-header-address {
  opacity: 0.8;
}

.ant-collapse {
  border-radius: 6px;
  padding: 1rem;
  transition: all 0.3s ease;
}

.ant-collapse-header {
  cursor: pointer;
  overflow: visible !important;
}

.ant-collapse-content {
  overflow: scroll;
}

.ant-collapse-item {
  background: var(--gradient-high-transparent);
  backdrop-filter: blur(10px);
}

.ant-collapse-item:not(.ant-collapse-item-active):hover {
  background: var(--gradient-high-transparent);
  box-shadow: rgba(85, 94, 153, 0.3) 2px 1000px 1px inset;
  /* transform: scale(1.01); */
}

.promise-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
}

@media (min-width: 60em) {
  .promise-card {
    grid-template-areas:
      'contract-identity parties'
      'pdf-viewer pdf-viewer';
  }
}

@media (max-width: 60em) {
  .promise-card {
    grid-template-areas:
      'contract-identity contract-identity'
      'parties parties'
      'pdf-viewer pdf-viewer';
  }
}

.card-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
}

.card-item .title {
  font-size: 1rem;
  font-weight: 500;
}

.card-item.contract-identity {
  grid-area: contract-identity;
}

.card-item.parties {
  grid-area: parties;
}

.card-item.pdf-viewer {
  grid-area: pdf-viewer;
}

.parties .parties-list,
.contract-identity {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.parties .party-identity {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.5rem;
}

.parties .party-name-twitter {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.parties .party-twitter {
  display: flex;
  align-items: baseline;
  gap: 0.2rem;
}

.parties .party-twitter-verified {
  opacity: 0.8;
}
