.user-promises {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.section-user .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.user-promises .header-sub {
  font-size: 1.4rem;
  font-weight: 500;
}

.drawer-content label {
  font-size: 1rem !important;
}

.ant-drawer .form-btns {
  display: flex;
  gap: 1rem;
}

.ant-drawer .ant-space-item {
  align-items: center !important;
}

.ant-drawer .ant-space-item i {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ant-drawer .ant-space-item i:hover {
  opacity: 1;
}

.ant-drawer .icon-double {
  display: flex;
  gap: 0.5rem;
}

.ant-drawer .ant-space .ant-space-item:nth-child(3) .ant-input-prefix {
  margin-right: 0.3rem !important;
}

.user-promises .ant-collapse-header i {
  transition: all 0.3s ease;
}

.user-promises .ant-collapse-header:hover i {
  transform: rotate(-90deg);
}
