.user-promises {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.section-user .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.user-promises .header-sub {
  font-size: 1.4rem;
  font-weight: 500;
}

.drawer-content label {
  font-size: 1rem !important;
}

.ant-drawer .form-btns {
  display: flex;
  gap: 1rem;
}

.ant-drawer .ant-space-item {
  align-items: center !important;
}

.ant-drawer .ant-space-item i {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ant-drawer .ant-space-item i:hover {
  opacity: 1;
}

.icon-double {
  display: flex;
  gap: 0.5rem;
}

.ant-drawer .ant-space .ant-space-item:nth-child(3) .ant-input-prefix,
.add-participant-form .ant-form-item:nth-child(3) .ant-input-prefix {
  margin-right: 0.3rem !important;
}

.ant-collapse-header {
  position: relative; /* So we can add an invisible div to handle click events */
}

.invisible-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.user-promises .ant-collapse-header i {
  transition: all 0.3s ease;
}

.user-promises .ant-collapse-header:hover i {
  transform: rotate(-90deg);
}

.promise-drawer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.promise-drawer .contract-identity {
  background: rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

.drawer-item.interaction {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
}

.drawer-item.interaction .verified {
  justify-self: center;
}

.drawer-item.interaction .ant-btn {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
}

.drawer-item.interaction .ant-btn i {
  transition: all 0.3s ease;
}

.drawer-item.interaction .ant-btn:hover i {
  transform: scale(1.2);
}

.ipfs-display {
  position: relative;
}

.ipfs-display .action-directory {
  position: absolute;
  top: 1rem;
  left: 10rem;
  display: flex;
  gap: 2rem;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ipfs-display .action-directory::before {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: -1.5rem;
  width: 1px;
  height: 100%;
}

.ipfs-display .action-directory > div {
  font-size: 1rem;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.ipfs-display .action-directory > div:hover {
  opacity: 1;
  transform: scale(1.02);
}

.promise-drawer .header {
  font-weight: 500;
  padding: 0.5rem 0;
}

.promise-add-participant-interaction {
  grid-column: span 2;
}

.drawer-item-separator {
  grid-column: span 2;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}
