/* HEADER */
.header {
  position: fixed;
  width: min(100%, 1400px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 2rem 3rem 1rem 3rem;
  backdrop-filter: blur(4px);
}

/* TITLE */
.header .title {
  font-family: var(--font-quicksand);
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
}

.header .title a {
  display: flex;
}

.header .title span {
  width: 2.5rem;
  margin-right: 0.5rem;
}

/* LINKS */
.header .links {
  position: relative;
  letter-spacing: 0.1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.header .links > * {
  text-align: center;
}

.header .links > *:not(:nth-child(4)) {
  transition: all 0.3s ease;
}

.header .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem 0.5rem 1rem;
  cursor: pointer;
  gap: 0.5rem;
}

.header .links a:hover {
  color: var(--popstar) !important;
}

/* SLIDER */
.slider {
  position: absolute;
  inset-block-end: 0;
  block-size: 2px;
  inline-size: calc(100% / var(--tab-nav-items));
  background: var(--gradient-color-light);
  transition: inset-inline-start 0.3s ease;
  z-index: -1;
}

.links > :global(*.active) ~ .slider {
  inset-inline-start: calc(
    100% * var(--tab-nav-current-item) / var(--tab-nav-items)
  );
}

.links > :global(* > i) {
  transition: all 0.3s ease;
}

.links > :global(*.active > i) {
  text-shadow: 0 0 18px var(--popstar), 0 0 48px var(--popstar) !important;
}
