@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  /* FONTS */
  --font-poppins: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-titillium: 'Titillium Web', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --font-outfit: 'Outfit', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-quicksand: 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  /* COLORS */
  --twilight-lavender: #8b4562ff;
  --dark-purple: rgb(44, 12, 37);
  --crimson-ua: #96202eff;
  --liberty: #555e99ff;
  --popstar: #c35764ff;
  --popstar-dark: rgb(60, 26, 31);
  --pink-dark: #fe8dc6;
  --pink-light: #fed1c7;
  --primary-color-white: #ffffff;
  --background-color-light: #2b313a;
  --background-color-medium: #131923;
  --background-color-dark: #0b111b;
  --background-color-purple: #211d34;

  /* GRADIENTS */
  --gradient-color-main: linear-gradient(
    90deg,
    var(--crimson-ua) 0%,
    var(--liberty) 100%
  );
  --gradient-color-light: linear-gradient(
    90deg,
    var(--popstar) 0%,
    var(--liberty) 100%
  );
  --gradient-color-pink: linear-gradient(
    90deg,
    var(--popstar) 0%,
    var(--pink-light) 100%
  );
  --gradient-high-transparent: linear-gradient(
    90deg,
    rgba(195, 87, 100, 0.2) 0%,
    rgba(62, 16, 53, 0.6) 100%
  );
  --gradient-medium-transparent: linear-gradient(
    90deg,
    rgba(195, 87, 100, 0.3) 0%,
    rgba(62, 16, 53, 0.8) 100%
  );

  /* UTILITIES */
  --tab-nav-items: 4;
  --tab-nav-current-item: 0;

  /* Override Toastify */
  --toastify-color-info: var(--liberty) !important;
  --toastify-color-success: #58ad8b !important;
  --toastify-color-warning: #d5a87a !important;
  --toastify-color-error: #c95966 !important;
  --toastify-color-light: rgba(0, 0, 0, 0.8) !important;
  --toastify-text-color-light: #fff !important;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Override Antd */
  /* The following variables replace the commented ones in ./antd/antd-specified.css */
  /* #177ddc */
  --ant-blue-override: #555e99ff;
  /* #165996 */
  --ant-darkblue-override: rgba(67, 73, 112, 0.3);
  /* rgba(23, 125, 220, 0.2) */
  --ant-darkblue-shadow-override: #555e99ff;
  /* rgba(255, 255, 255, 0.3) */
  --ant-grey-disabled-override: rgba(255, 255, 255, 0.4);
  /* #434343 */
  --ant-lightgrey-disabled-override: rgba(255, 255, 255, 0.3);
  /* #272727 */
  --ant-lightgrey-disabled-override-2: transparent;
  /* #1D1D1D */
  --ant-darkgrey-table-override: transparent;
  /* #1F1F1F */
  --ant-drakgrey-table-override-2: transparent;
  /* --ant-drakgrey-table-override-2: rgba(0, 0, 0, 0.1); */
  /* #141414 */
  --ant-black-table-override: transparent;
  --ant-black-table-override: rgba(0, 0, 0, 0.1);
  /* #262626 */
  --ant-hovergrey-table-override: rgba(0, 0, 0, 0.3);
  /* --antd-wave-shadow-color */
  --ant-wave-shadow-color-override: var(--popstar);
}

/* MAIN */

html,
body {
  font-family: var(--font-quicksand);
  color: var(--primary-color-white);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

header a {
  color: inherit !important;
}

a:not(.header) {
  font-weight: 500;
  color: var(--popstar);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

/* GLOBALLY USED CLASSES */

.icon::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.highlight {
  background: var(--gradient-color-main);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.action-btn {
  all: unset;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.action-btn:hover {
  transform: scale(1.02);
}

.action-btn.styled:active {
  transform: scale(0.98);
}

.error-container {
  background: var(--gradient-high-transparent);
  align-self: center;
  text-align: center;
  border-radius: 6px;
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.3s ease;
}

.error-container:hover {
  transform: scale(1.02);
}

.error {
  font-size: 1.2rem;
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.verified,
.not-verified,
.warning {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.verified i,
.not-verified i,
.warning i {
  font-size: 1rem;
}

.verified {
  color: var(--toastify-color-success) !important;
}

.not-verified {
  color: var(--toastify-color-error);
  font-weight: 600;
}

.warning {
  color: var(--toastify-color-warning);
  font-weight: 600;
}

.verified span {
  /* font-size: 0.8rem; */
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.verified span:hover {
  opacity: 1;
}

.verified span > i {
  font-size: 0.8rem;
}

.popover-address,
.popover-address .add-space {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.popover-address i {
  opacity: 0.7;
  cursor: pointer;
}

.popover-address i:hover {
  opacity: 1;
}

.popover-address i:active {
  transform: scale(0.9);
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-img {
  height: 40px;
  transition: all 0.3s ease;
}

.custom-img:hover {
  transform: scale(1.02);
}

.error-message,
.warning-message {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.error-message {
  color: var(--toastify-color-error) !important;
}

.warning-message {
  color: var(--toastify-color-warning) !important;
}

.span-double {
  grid-column: span 2;
}

.center {
  text-align: center;
}

/* OVERRIDES */

/* Override Rainbow wallet CSS */

.iekbcc0.ju367va.ju367v1n:not(.ju367vz) {
  justify-content: flex-end;
  padding-right: 0;
}

.iekbcc0.ju367va.ju367v1n,
.iekbcc0.ju367va.ju367v1n button,
.ju367vz * {
  font-family: var(--font-poppins) !important;
  font-weight: 400;
}

/* Override Antd CSS */

/* Badge */
.ant-badge {
  cursor: pointer;
  z-index: 2;
}

/* Button */
.ant-btn-primary,
.ant-btn-default {
  font-family: var(--font-poppins);
  color: #fff !important;
  border-radius: 2px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease !important;
}

.ant-btn-primary {
  background: var(--popstar) !important;
  border: 0 !important;
}

.ant-btn-primary:hover {
  background: var(--crimson-ua) !important;
}

.ant-btn-primary:disabled {
  /* background: var(--popstar-dark) !important; */
  color: rgb(208, 208, 208) !important;
  cursor: not-allowed !important;
}

.ant-btn-primary:disabled:hover {
  background: var(--popstar) !important;
}

.ant-btn-default {
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.ant-btn-primary:active,
.ant-btn-default:active {
  transform: scale(0.98) !important;
}

.ant-btn-default:hover {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.ant-btn-loading .ant-btn-loading-icon + span {
  margin-left: 0.5rem !important;
}

.ant-btn-loading-icon span:not(.ant-btn-loading-icon-motion-enter-active) {
  position: absolute !important;
}

.ant-btn.no-btn {
  background: transparent !important;
}

/* Card */
.ant-card-grid {
  cursor: pointer;
}

.ant-card-grid-hoverable:hover {
  color: var(--popstar) !important;
  box-shadow: none !important;
}

/* Collapse */
.ant-collapse-borderless {
  background: transparent !important;
}

.ant-collapse-header-text {
  align-self: center;
}

/* Drawer */
.ant-drawer-header {
  display: grid !important;
  grid-template-columns: 1fr auto !important;
}

/* Only for the first child of .ant-form-vertical */
.ant-drawer .ant-form-vertical > div:nth-child(2) {
  align-items: center;
}

.ant-drawer .ant-form .ant-space-horizontal > div:nth-child(4) {
  margin-top: 0.3rem;
}

.ant-drawer-content {
  background: var(--gradient-high-transparent) !important;
  backdrop-filter: blur(10px) !important;
}

/* Dropdown */
.ant-dropdown {
  backdrop-filter: blur(10px) !important;
}

.ant-dropdown-placement-bottomLeft {
  top: 4.5rem !important;
}

.ant-dropdown-menu,
.ant-table-filter-dropdown {
  background: var(--gradient-medium-transparent) !important;
  padding: 0 !important;
}

.ant-table-filter-dropdown .search-filter-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem !important;
}

.ant-table-filter-dropdown .search-filter-container .ant-input {
  grid-column: span 2;
}

.ant-dropdown-menu-item {
  font-size: 0.9rem !important;
  padding: 1rem 3rem !important;
}

.ant-dropdown-open {
  color: var(--popstar) !important;
}

.dropdown-title {
  display: flex !important;
  gap: 0.5rem !important;
}

.dropdown-title span + i {
  transition: all 0.3s ease;
}

.ant-dropdown-open span + i {
  transform: translateY(0.1rem) !important;
}

.ant-dropdown-menu-title-content a {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.ant-dropdown-menu-title-content .icon-promise {
  position: relative;
  margin-right: 0.5rem;
}

.ant-dropdown-menu-title-content .icon-promise i + i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}
/* Icon */
.anticon-info-circle,
.anticon-inbox {
  color: #fff !important;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.anticon:hover {
  opacity: 1;
}

/* Input */
.ant-input:hover {
  vertical-align: baseline !important;
}

.ant-input-prefix {
  margin-right: 1rem !important;
}

/* Pagination */
.ant-pagination-simple-pager input,
.ant-select-selection-search-input {
  color: #fff !important;
}

.section-explore .promises-list .ant-table-pagination,
.promise-drawer .ant-table-pagination {
  position: absolute !important;
  top: 0.5rem !important;
  right: 1rem !important;
  margin: 0 !important;
  z-index: 1;
}

.ant-pagination-item a {
  transition: all 0.3s ease !important;
}

.ant-pagination-item-link:disabled {
  opacity: 0.5 !important;
}

/* Popover */
.ant-popover-inner,
.ant-popover-arrow-content,
.ant-popuver:after,
.ant-tooltip-inner,
.ant-tooltip-arrow-content::before {
  background: var(--popstar) !important;
}

.ant-popover a,
.ant-tooltip-inner a {
  color: #fff !important;
  font-weight: 600;
}

.ant-popover a::after,
.ant-tooltip-inner a::after {
  font: normal normal normal 14px/1 FontAwesome;
  content: ' \f35d';
}

.ant-popover-arrow-content {
  --antd-arrow-background-color: var(--popstar) !important;
}

/* Ribbon */
.ant-ribbon-wrapper {
  z-index: 1;
}

.ant-ribbon.badge-locked {
  background: rgba(88, 173, 139, 0.7) !important;
}

.ant-ribbon.badge-unlocked {
  background: rgba(213, 168, 122, 0.7) !important;
}

.ant-ribbon-wrapper > span {
  position: absolute !important;
  right: 0 !important;
  left: initial !important;
}

.storage-ribbon {
  position: relative;
}

.storage-ribbon > span {
  position: absolute !important;
  right: 0 !important;
  left: initial !important;
}

/* Select */
.ant-select-clear {
  color: rgba(255, 255, 255, 0.7) !important;
}

.ant-select-clear:hover {
  color: rgba(255, 255, 255, 1) !important;
}

/* Skeleton */
.ant-skeleton-content .ant-skeleton-paragraph {
  margin: 0 !important;
}

.ant-skeleton-content .ant-skeleton-paragraph > li {
  width: 100% !important;
  background: var(--gradient-high-transparent) !important;
}

/* Table */
.ant-table {
  border-radius: 6px !important;
}

.ant-table-cell[colspan='2'] > div {
  justify-content: center;
}

.ipfs-display .ant-table-tbody .ant-table-row {
  cursor: pointer;
}

/* Tooltip */
.interaction .ant-tooltip-disabled-compatible-wrapper {
  width: 100%;
}

/* Upload */
.ant-upload.ant-upload-btn {
  padding: 1rem 2rem !important;
}

.ant-upload-list-item-card-actions-btn {
  background: var(--popstar);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ant-upload-list-item-card-actions-btn:hover {
  background: var(--crimson-ua);
}

.ant-upload-list-item-card-actions-btn:hover span {
  color: #fff !important;
  opacity: 1 !important;
}

.ant-upload-list-item-info {
  padding: 1rem 0.5rem;
}

.ant-upload-list-item-progress {
  bottom: -1.1rem !important;
}

/* Font Awesome icons */

.fa-question-circle,
.fa-question-circle,
.fa-copy,
.fa-times {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fa-question-circle:hover,
.fa-question-circle:hover,
.fa-copy:hover,
.fa-times:hover {
  opacity: 1;
}
