@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --font-poppins: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-titillium: 'Titillium Web', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --font-outfit: 'Outfit', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-quicksand: 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  --twilight-lavender: #8b4562ff;
  --dark-purple: rgb(44, 12, 37);
  --crimson-ua: #96202eff;
  --liberty: #555e99ff;
  --popstar: #c35764ff;
  --popstar-dark: rgb(60, 26, 31);
  --gradient-color-main: linear-gradient(
    90deg,
    var(--crimson-ua) 0%,
    var(--liberty) 100%
  );
  --gradient-color-light: linear-gradient(
    90deg,
    var(--popstar) 0%,
    var(--liberty) 100%
  );
  --gradient-high-transparent: linear-gradient(
    90deg,
    rgba(195, 87, 100, 0.2) 0%,
    rgba(62, 16, 53, 0.6) 100%
  );
  --gradient-medium-transparent: linear-gradient(
    90deg,
    rgba(195, 87, 100, 0.3) 0%,
    rgba(62, 16, 53, 0.8) 100%
  );

  --primary-color-white: #ffffff;
  --background-color-light: #2b313a;
  --background-color-medium: #131923;
  --background-color-dark: #0b111b;
  --background-color-purple: #211d34;
  --tab-nav-items: 4;
  --tab-nav-current-item: 0;

  /* Override Toastify */
  --toastify-color-info: var(--liberty) !important;
  --toastify-color-success: #58ad8b !important;
  --toastify-color-warning: #d5a87a !important;
  --toastify-color-error: #c95966 !important;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Override Antd */
  /* #177ddc */
  --ant-blue-override: #555e99ff;
  /* #165996 */
  --ant-darkblue-override: rgba(67, 73, 112, 0.3);
  /* rgba(23, 125, 220, 0.2) */
  --ant-darkblue-shadow-override: #555e99ff;
  /* rgba(255, 255, 255, 0.3) */
  --ant-grey-disabled-override: #fff;
  /* #434343 */
  --ant-lightgrey-disabled-override: rgba(255, 255, 255, 0.3);
}

html,
body {
  font-family: var(--font-quicksand);
  color: var(--primary-color-white);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

header a {
  color: inherit !important;
}

a:not(.header) {
  font-weight: 500;
  color: var(--popstar);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highlight {
  background: var(--gradient-color-main);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.action-btn {
  all: unset;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  border-image: linear-gradient(to bottom, #fe3dce, rgba(254, 61, 206, 0)) 1
    100%;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.action-btn.styled {
  background: var(--gradient-color-main);
  box-shadow: rgba(50, 45, 71, 0.5) 2px 1000px 1px inset;
  text-align: center;
  padding: 0.3rem 2rem;
  outline: none;
  border: 0;
}

.action-btn.styled:hover {
  box-shadow: none;
  transform: scale(1.02);
}

.action-btn.styled:active {
  transform: scale(0.98);
}

.action-btn a {
  color: #fff;
}

.error-container {
  background: var(--gradient-high-transparent);
  backdrop-filter: blur(10px);
  text-align: center;
  border-radius: 6px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.error-container:hover {
  transform: scale(1.02);
}

.error {
  font-size: 1.2rem;
  font-weight: 600;
}

.popover-address {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.popover-address i {
  opacity: 0.7;
  cursor: pointer;
}

.popover-address i:hover {
  opacity: 1;
}

.popover-address i:active {
  transform: scale(0.9);
}

.section {
  position: relative;
  scroll-snap-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

@media (min-height: 30em) {
  main {
    overflow-y: scroll;
    height: 100vh;
  }

  main.home {
    scroll-snap-type: y mandatory;
  }

  .section {
    height: 100vh;
  }
}

.error-message,
.warning-message {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.error-message {
  color: var(--toastify-color-error);
}

.warning-message {
  color: var(--toastify-color-warning);
}

/* Override Rainbow wallet CSS */

.iekbcc0.ju367va.ju367v1n:not(.ju367vz) {
  justify-content: flex-end;
  padding-right: 0;
}

.iekbcc0.ju367va.ju367v1n,
.iekbcc0.ju367va.ju367v1n button,
.ju367vz * {
  font-family: var(--font-poppins) !important;
  font-weight: 400;
}

/* Override Antd CSS */

.ant-popover-inner,
.ant-popover-arrow-content,
.ant-popuver:after,
.ant-tooltip-inner,
.ant-tooltip-arrow-content::before {
  background: var(--popstar) !important;
}

.ant-popover-arrow-content {
  --antd-arrow-background-color: var(--popstar) !important;
}

.ant-collapse-header-text {
  align-self: center;
}

.ant-skeleton-content .ant-skeleton-paragraph {
  margin: 0 !important;
}

.ant-skeleton-content .ant-skeleton-paragraph > li {
  width: 100% !important;
  background: var(--gradient-high-transparent) !important;
}

.ant-btn-primary,
.ant-btn-default {
  color: #fff !important;
  border-radius: 2px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease !important;
}

.ant-btn-primary {
  background: var(--popstar) !important;
  border: 0 !important;
}

.ant-btn-primary:hover {
  background: var(--crimson-ua) !important;
}

.ant-btn-primary:disabled {
  /* background: var(--popstar-dark) !important; */
  color: rgb(208, 208, 208) !important;
  cursor: not-allowed !important;
}

.ant-btn-primary:disabled:hover {
  background: var(--popstar) !important;
}

.ant-btn-default {
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.ant-btn-primary:active,
.ant-btn-default:active {
  transform: scale(0.98) !important;
}

.ant-btn-default:hover {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.ant-btn-loading .ant-btn-loading-icon + span {
  margin-left: 0.5rem !important;
}

.ant-btn-loading-icon span:not(.ant-btn-loading-icon-motion-enter-active) {
  position: absolute !important;
}

.anticon {
  color: #fff !important;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.anticon:hover {
  opacity: 1;
}

.ant-input:hover {
  vertical-align: baseline !important;
}

.ant-input-prefix {
  margin-right: 1rem !important;
}

.ant-pagination-simple-pager input,
.ant-select-selection-search-input {
  color: #fff !important;
}

.ant-select-clear {
  color: rgba(255, 255, 255, 0.7) !important;
}

.ant-select-clear:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.ant-drawer-header {
  display: grid !important;
  grid-template-columns: 1fr auto !important;
}

.ant-drawer .ant-space-item {
  align-self: baseline;
}

/* Font Awesome icons */

.fa-twitter {
  color: #50b0ec;
}
